body {
	background-color: yellow;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

main {
	margin-left: 150px;
	margin-right: 150px;
	background: linear-gradient(25deg, red, green);
}

.header {
	padding-left: 70px;
	padding-top: 35px;
	padding-bottom: 40px;
}

h1 {
	color: blue;
	margin: 0;
}

.nav {
	justify-content: center;
	display: flex;
	width: 100%;
	margin-bottom: 40px;
}

.bg_btn_active {
	background: linear-gradient(170deg, blue, transparent);
	padding-bottom: 10px;
	padding-right: 8px;
	border-radius: 10px;
}

.bg_btn {
	margin: 0 10px;
	padding-bottom: 10px;
	padding-right: 8px;
}

.btn {	
	padding: 10px 70px;
	color: white;
	background: linear-gradient(250deg, red, green);
	border: solid 1px;
	border-color: white;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: white;
}

.bg_btn:hover {
	padding-bottom: 10px;
	padding-right: 8px;
	border-radius: 10px;
	background: linear-gradient(170deg, yellow, transparent);
}

h2 {
	margin-top: 50px;
	color: white;
	display: flex;
	justify-content: center;
}

.text {
	color: white;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 25px;
	padding-bottom: 20px;
}

iframe {
	width: 88%;
	margin-left: 80px;
	margin-right: 80px;
	padding-bottom: 20px;
}